{% extends "bootstrap/base.html" %}
{% block title %}{{ context.title }}{% endblock %}
{% block navbar %}
    <div class="navbar navbar-grey" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span id="A" class="icon-bar"></span>
                    <span id="B" class="icon-bar"></span>
                    <span id="C" class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Statements without email</a>
            </div>
            <div class="navbar-collapse collapse">
                {#                {% if context.showsearch %}#}
                <form class="navbar-form navbar-right">
                    {% if context.showsearch %}
                        <div class="form-group">
                            <input type="text" placeholder="Parcel ID" onkeyup="parcel_lookup()" id="inp_parcel"/>
                        </div>
                    <img class="iconx2" src="{{ url_for('static', filename='icons/301-picture-1.svg') }}"
                         onclick="parcel_lookup()"/>
                    <img class="iconx2" src="{{ url_for('static', filename='icons/301-garbage-1.svg') }}"
                         onclick="delete_search_string()"/>
                    {% endif %}
                    <img class="iconx2" src="{{ url_for('static', filename='icons/301-stairs.svg') }}" title="Logout"
                         onclick="logout_button()"/>
                    &nbsp;&nbsp;
                    <img class="icon" src="{{ url_for('static', filename='icons/301-tasks.svg') }}" title="About"
                         onclick="about_button()"/>
                </form>
                {#                {% endif %}#}
                <ul class="nav navbar-nav">
                    <li><a href="/"><img class="iconx2" src="{{ url_for('static', filename='icons/301-house.svg') }}"/></a>
{#                    </li>#}
{#                    {% if context.auth['admin'] %}#}
{#                        <li><a href="/settings/setup">Settings</a></li>#}
{#                    {% endif %}#}
{#                    <li><a href="/activity/log">Activity Log</a></li>#}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        {% block page_content %}
        {% endblock %}
    </div>
{% endblock %}