{% extends "base.html" %}

{% block page_content %}
    {% block content %}
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <div class="container">
            <div class="page-header datatext">
                <div class="row"><div class="col-md-10">
                    Last statement printed/emailed: {{ context.statement_print_date }}
                </div></div>
                <div class="row"><div class="col-md-10">
                    SWE Process Date: {{ context.swe_process }}
                </div></div>
                <div class="row"><div class="col-md-10">
                    <form action="/main/process_data" method="post">
                        <button class="btn {{ context.process_button_type }}" type="submit">{{ context.process_button_txt }}</button>
                    </form>
                </div></div>
                <div class="jumbotron tabletext">
                    <div class="row">
                        <div class="col-md-10">
                            View customers that received statement
                        </div>
                    </div>
                    <ul>
                        <li><a href="/views/customer-has-email">and notification by email.</a></li>
                        <li><a href="/views/statement-no-email">and do not have email.</a></li>
                        <li><a href="/views/received-a-statement">all customers.</a></li>
                        <li><a href="/views/customer-view-status">web access status</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            {% include 'footer.html' %}
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}"></script>
    {% endblock %}
{% endblock %}